# Server settings
NODE_VERSION=18 # Also indicated in package.json
PORT=3000

# Logging settings (possible values: 'error', 'warn', 'info')
ERROR_LOG_LEVEL=info
REQ_RES_LOG_LEVEL=info

## Identifier for server instance (used for logging, so we can tell which region worker is returning errors)
SERVER_INSTANCE_ID=local
